<div class="col-md-12">
  <p><h3>News you can use!</h3></p>
  <div class="row col-md-10">
    <button class="btn btn-primary" {{action 'carouselPrev'}}>Previous Image</button>
    <div class="col-md-12 post-headlines" style="background: url('../img/{{unbound imageTitle}}'); background-size: 100% 100%;">
      <h1>Carousel Time</h1>
      {{unbound imageTitle}}
    </div>
    <button class="btn btn-primary" {{action 'carouselNext'}}>Next Image</button>

  </div>

  <div class="row col-md-12">

    {{#each post in model}}
      <div class="col-md-3 post-headlines" style="background: url('../img/{{unbound post.image}}'); background-size: 100% 100%;">
        <div class="headline-title col-md-12"><h4>{{post.title}}</h4></div>
      </div>
    {{/each}}
  </div>
</div>
